.header
{
    margin-top: 60px;
}
.headertitles
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}
.headertitlesm
{
    position: absolute;
    font-size: 18px;
    top: 16%;
}
.headertitlelg
{
    position: absolute;
    top: 16%;
    font-size: 100px;
    font-style: italic;
}
.headerimg
{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;

}